<div class="search">
  <img [src]="_DomSanitizer.bypassSecurityTrustUrl(avatarNotFound)" class="avatar" />
  <div>
    <h3>GitHub Users</h3>
    <input (keyup)="searchForUserFromLocalData(search.value)" type="text" #search placeholder="Search Github Users">
    <button (click)="searchForUserFromLocalData(search.value)">Search Users</button>
  </div>
</div>
<div class="alert-message-box">
  <div *ngIf="alertMessage" class="alert-message">
    {{alertMessage}}
  </div>
</div>
<ul class="user-list">
  <li class="user-list-item" *ngFor="let user of users" [routerLink]="['/users', user.login]">
    <img [src]="user.avatar_url? _DomSanitizer.bypassSecurityTrustUrl(user.avatar_url): _DomSanitizer.bypassSecurityTrustUrl(avatarNotFound)" class="avatar" />
    <div class="avatar-label">
      {{ user.login }}
    </div>
  </li>
</ul>
